<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="kanban-board">
            <div class="column" v-for="(column, columnIndex) in sortedColumns" :key="column.title">
                <h2>{{ column.title }}</h2>
                <div class="card-list">
                    <button v-if="columnIndex === 0" @click="showTrash = true">Корзина ({{ deletedCards.length }})</button>
                    <button 
                        class="button-addcard"
                        v-if="columnIndex === 0 && !editingCard && !showModal"
                        @click="openModal" 
                    >Добавить задачу</button>
                    <task-card v-for="card in column.cards" 
                               :key="card.id" :card="card"
                               :column-index="columnIndex"
                                @card-return="handleCardReturn"
                                @move-card="moveCard(columnIndex, card)"
                                @delete-card="deleteCard(card)"
                                @edit-card="editCard(card, columnIndex)"           
                    ></task-card>
                </div>
            </div>
        </div>
        <div class="modal" v-if="showModal">
            <div class="modal-content">
                <card-form
                           ref="cardForm"
                           :initial-card="editingCard"  
                           @add-card="addCard"
                           @save-card="saveCard"
                           @close="closeModal"
                ></card-form>
            </div>
        </div>

        <trash-bin
            v-if="showTrash"  
            :deleted-cards="deletedCards"
            :columns="columns"
            @close="showTrash = false"
            @restore="restoreCard"
        ></trash-bin>
 
    </div>
</body>
</html>