<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="kanban-board">
            <div class="column" v-for="(column, index) in columns" :key="index">
                <h2>{{ column.title }}</h2>
                <div class="card-list">
                    <card-form v-if="index === 0" @add-card="addCard"></card-form>
                    <task-card v-for="card in column.cards" 
                               :key="card.id" :card="card" 
                               @move-card="moveCard(index, card)"
                               @delete-card="deleteCard(card)"           
                    ></task-card>
                </div>
            </div>
        </div>
    </div>
</body>
</html>